@charset "UTG-8"; /*Para nao ter problema com caractere */

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F2EFDF,#D0D9D4);
}

p{
    text-align: justify;
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #919995be;
}

h1 {
    color: #59554C;
    text-align: center;
    text-shadow: 1px 1px 2px #35322d8f;
}

h2{
    color: #768888;
}